.box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f6a9af; */
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(../assets/bg-opn.png);
  color: white;
}

#h-pad{
  padding: 10px;
}
